* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width:1440px;
  margin: 0px auto;
  background-color: yellow;
}

.profiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.base-profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.base-photo-name img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

@media (min-width: 768px){
  .profile{
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    background-color: yellow;
  }
}

@media (min-width: 992px)and
(max-width: 1440px) {
  .profile{
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    background-color: red;
  }
}
